body {
    background-color:#f0fff0; /* Light Green */
    margin-top: 50px;
    font-family: 'Lato';
}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}

body.dark-mode {
    background-color: #121212; /* Dark Background Color */
    color: #ffffff; /* Light Text Color */
}

.dark-mode .item {
    background-color: #333333; /* Darker Item Background Color */
    color: #ffffff; /* Light Item Text Color */
    /* Add more styles for dark mode if needed */
}

/* Add more styles for dark mode if needed */
